.allteacher
{
    width: 90vw;
    text-align: center;
    margin: auto;
    margin-top: 30px;
}
.heading
{
    width: 90vw;
    height: 30px;
    background-color: aquamarine;
    display: flex;
}
.heading h2
{
    color: white;
    width: 50%;
}
.list_teacher
{
    display: flex;
    height: 25px;
    border: 0.1vh solid whitesmoke;
    margin-top: 2px;
}
.list_teacher p
{
    width: 50%;
   
}
.popup
{
    
    margin-top: 50px;
    background-color: aliceblue;
}